@media(max-width:480px){
    .show-heading{
        margin-left: 1rem;
    }
    .show-media-card{
        margin-left: 1rem;
        width: -webkit-fill-available;
    }
    .media-btns a{
        margin-left: 1rem;
        width: 5rem;
    }
    .media-review{
        margin-left: 1rem;
    }
    .media-review textarea{
        width: 20rem;
    }
    .media-show-review{
        margin-left: 1rem;
    }
    .media-show-card{
        width: 100%;
    }
    .container-fluid{
        background-color: white;
    }
    .media-search{
        display: none;
    }
    /* media qury for login page */
    .media-login-head{
        margin-left: 5rem;
    }
    .media-login{
        margin-left: 5rem;
        width: 65%;
    }
    /* media query for signup page */
    .media-signup-head{
        width: auto;
        margin-left:3rem ;
    }
    .media-signup{
        width: 70%;
        margin-left: 3rem;
    }
    /* media edit page */
    .media-edit{
        width: 80%;
        margin-left: 3rem;
    }
}